@import '../../Tools/mixin';

.Header {
  @include flexible(flex, row, wrap, space-between, center);
  padding: 1.3125rem 2.5rem;

  &-hamburger {
    display: none;
  }

  &-nav {
    @include flexible(flex, row, wrap, space-between, center);
    width: 89.5%;
    height: 2.625rem;
  }
  &-ul {
    @include flexible(flex, row, nowrap, flex-start, flex-start);
    gap: 2.5rem;
  }

  &-btnLinks {
    @include font-style(500, 0.875rem, 1rem, var(--Medium-Gray));
  }

  &-btnLinks:hover {
    color: var(--Almost-Black);
  }

  &-Registration {
    @include flexible(flex, row, nowrap, flex-start, center);
    gap: 2.5rem;
  }

  &-a--login:hover {
    @include font-style(700, 0.875rem, 1rem);
  }

  &-a--register {
    padding: 0.8125rem 1.375rem 0.8125rem 1.4375rem;
    border: 1.5px solid var(--Medium-Gray);
    border-radius: 14px;
  }

  &-a--register:hover {
    border-color: var(--Almost-Black);
  }

  &-arrow {
    width: 0.5rem;
  }

  &-dropDownFeatures-button,
  &-dropDownCompany-button {
    @include flexible(flex, row, nowrap, flex-start, center);
    gap: 0.5625rem;
    cursor: pointer;
  }

  &-dropDownCompany-a,
  &-dropDownFeatures-a,
  &-dropDownFeatures-a {
    @include font-style(500, 0.875rem, 1rem, var(--Medium-Gray));
  }

  &-dropDownFeatures-ul,
  &-dropDownCompany-ul {
    position: absolute;
    margin-top: 1.25rem;
    padding: 1.5rem;
    border-radius: 0.625rem;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.149126);
  }

  &-dropDownFeatures-ul {
    margin-left: -4.375rem;
    background-color: #ffffff;
  }

  &-dropDownFeatures-li:nth-child(2),
  &-dropDownFeatures-li:nth-child(3) {
    margin: 1rem 0;
  }
  &-dropDownFeatures-a {
    @include flexible(flex, row, nowrap, flex-start, flex-start);
    gap: 0.9375rem;
  }
  &-dropDownFeatures-img {
    width: 0.875rem;
    height: 16px;
  }

  &-dropDownCompany-ul {
    margin-left: 0.1.5rem;
  }

  &-dropDownCompany-li:nth-child(2) {
    margin: 1rem 0;
  }
}
